[submodule "libft-unit-tests"]
	path = libft-unit-tests
	url = https://github.com/alelievr/libft-unit-test
[submodule "libft-war-machine"]
	path = libft-war-machine
	url = git@github.com:y3ll0w42/libft-war-machine.git
[submodule "libfttester"]
	path = libfttester
	url = git@github.com:Tripouille/libftTester.git
[submodule "libftpain"]
	path = libftpain
	url = https://github.com/Bluegales/libft-pain
[submodule "splittest"]
	path = splittest
	url = git@github.com:Ysoroko/FT_SPLIT_TESTER.git
